service: tasty-customers

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-southeast-2
  timeout: 30

plugins:
  - serverless-offline

functions:
  loginTest:
    handler: apps/tasty-customers/loginTest.handler
    events:
      - http:
          path: loginTest
          method: any
          cors: true
          authorizer: aws_iam
  getUsers:
    handler: apps/tasty-customers/getUsers.handler
    events:
      - http:
          path: getUsers
          method: get
          cors: true
          authorizer: aws_iam

custom:
  serverless-offline:
    httpPort: 5001